@using Microsoft.EntityFrameworkCore.Query
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<Posts>
@{
    ViewBag.Title = "Index";;
}

<h2>My Blog</h2>
@using (Html.BeginForm())
{

    <table class="table table-dark" cellpadding="10">
        <thead>
        <tr>
            <th scope="col">UserId</th>
            <th scope="col">Nickname</th>
            <th scope="col">Title</th>
            <th scope="col">Summary</th>
            <th scope="col">Content</th>
            <th scope="col">Time</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        @foreach (var posts in Model)
        {
            <tbody >
            <tr class="table table-secondary">
                <th scope="Id">@posts.User.Id</th>
                <td class="Nickname">@posts.User.Nickname</td>
                <td class="Title">@posts.Title</td>
                <td class="Summary ">@posts.Summary</td>
                <td class="Content">@Html.Raw(@posts.Content)</td>
                <td class="Time">@posts.Timestamp.Date.ToString("dd.MM.yyyy")</td>
                
                <td>
                    <a asp-action="Add" asp-route-id="@posts.UserId" class="btn btn-primary">Add</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@posts.Id" class="btn btn-warning">Edit</a>
                 
                </td>
                 <td>
                     <a asp-action="Delete" asp-route-id="@posts.Id" class="btn btn-danger">Delete</a>
                                 
                                     </td>

            </tr>
            </tbody>

        }

    </table>
}